parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    paths:
        - src/files/custom
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - src/files/custom/Espo/Modules/*/vendor
    scanDirectories:
        - site/application
        - site/vendor
        - site/custom/Espo/Modules/Mcp/vendor
